<img src = "tewnumpypandas.png" height="550px" width="550px"/>

## 3. How to Remove Dupilcate Data using Pandas Matplotlib in Python
It is really important to remove duplicates from your dataset. In order to preserve the dfatasets accuracy and avoid producing misleading and incorrect statistics<br><br>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

Now we are going to create our object, with duplicates and then we will set about removing them. We create a df with three columns, the columns are the keys and the values are the data in the lists...

In [4]:
df = DataFrame({'Column 1': [1,1,2,2,3,3,3],
              'Column 2' : ['a','a','b','b','c','c','c'],
              'Column 3' : ['A','A','B','B','C','C','C']})
df

   Column 1 Column 2 Column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

#### Finding Duplicates
We are going to use the .dupliucated() to help us get rid of the duplicates in our df. When we execute this code it retruns a set of boolean values (True/False)...

In [5]:
df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

Looking at our resulting boolean Series, we see that for Row0-Column1 we have a False ie this is not a duplicate, which makes sense as it is the first element in our df. However. Row1-Column1 has returned a True, ie it is a duplicate, as it is the same as the value above it. If we look at Row6, we see that has also returned a value of True. Looking at Row4, we see that Row6 is a duplicate of it.<br>
#### Dropping Duplicates
Now that we have found our duplicates, let's look at how we are going to drop them. To drop duplicates, we can use the drop_duplicates() method. This is applied to the df and it drops any rows that are duplicates of previous rows...

In [6]:
df.drop_duplicates() # To drop duplicates rows

   Column 1 Column 2 Column 3
0         1        a        A
2         2        b        B
4         3        c        C

We can see that we are not left with much of a df but, looking back at the original df, we can see why so many rows were dropped. This must be a bit dangerous as we could be dropping whole rows that only have one duplicate record. (The other data in the row might all be quite legitimate.)<br><br>
**Dropping Duplicate Rows**<br>
First we have to make a small change to our df...

In [7]:
df01 = DataFrame({'Column 1': [1,1,2,2,3,3,3],
              'Column 2' : ['a','a','b','b','c','c','c'],
              'Column 3' : ['A','A','B','B','C','D','C']})
df01

   Column 1 Column 2 Column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        D
6         3        c        C

When you pass in a label index to the drop_duplicate method it will only search that column and for each duplicate that it finds in there it will drop the entire row

In [8]:
df.drop_duplicates(['Column 3'])

   Column 1 Column 2 Column 3
0         1        a        A
2         2        b        B
4         3        c        C

Anywhere in Column 3 where a duplicate is found, it drops the entire row.<br> Interesting that he had an extra row, Row 5, that I do not have