<img src = "tewnumpypandas.png" height="550px" width="550px"/>

This is the 1st Video of Python for Data Science Course! In This series I will explain to you Python and Data Science all the time! It is a deep rooted fact, Python is the best programming language for data analysis because of its libraries for manipulating, storing, and gaining understanding from data. Watch this video to learn about the language that make Python the data science powerhouse.<br><br>Jupyter Notebooks have become very popular in the last few years, and for good reason. They allow you to create and share documents that contain live code, equations, visualizations and markdown text. This can all be run from directly in the browser. It is an essential tool to learn if you are getting started in Data Science, but will also have tons of benefits outside of that field.<br><br>Python pandas is a commonly-used tool in the industry to easily and professionally clean, analyze, and visualize data of varying sizes and types. We'll learn how to use pandas, Scipy, Sci-kit learn and matplotlib tools to extract meaningful insights and recommendations from real-world datasets.

## Filtering and Selecting Data With Pandas in Python<br>

In [16]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#### Selecting and retrieving data
First we will create our Series object

In [2]:
#We are going to use the series constructor to create our series and use Numpy's arange funbction to populate it
series_obj = Series(np.arange(8), index = ['Row 1', 'Row 2','Row 3','Row 4','Row 5','Row 6','Row 7','Row 8'])
#This gives us a series object with 8 values and an index with 8 rows
series_obj

Row 1    0
Row 2    1
Row 3    2
Row 4    3
Row 5    4
Row 6    5
Row 7    6
Row 8    7
dtype: int32

In [3]:
series_obj['Row 7'] # This tells Pandas to retrieve all the data for the index Row 7

6

In [5]:
series_obj[[0, 7]] # Tells Pandas to return the rows that have the integer values 0 & 7

Row 1    0
Row 8    7
dtype: int32

In [19]:
np.random.seed(25) # Not sure what this is for
df = pd.DataFrame(np.random.rand(36).reshape((6,6)), index = ['Row 1', 'Row 2','Row 3','Row 4','Row 5','Row 6',], 
columns =['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6'])
df

       Column 1  Column 2  Column 3  Column 4  Column 5  Column 6
Row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
Row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
Row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
Row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
Row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
Row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

For more on *<font color = blue>random.seed()</font>*, visit https://stackoverflow.com/questions/22639587/random-seed-what-does-it-do

Now that we have our df, we can tell Python the specific rows and columns to return, here's how...

In [20]:
#.loc is being referred to as the ix special indexer
df.loc[['Row 2', 'Row 2'], ['Column 2', 'Column 5']]

       Column 2  Column 5
Row 2  0.437611  0.402366
Row 2  0.437611  0.402366

Pandas has returned the rows and columns that we requested, by their labels, using .loc<br><br>
#### Data Slicing
You can use slicing to return a slice of several values from a dataset. Slicing uses index values so you can use the same square brackets when doing data slicing.<br>
Slicing does require two index values that are separated by a colon. The index value on the left hand side should be the first value that you want to select. On the righ hand side, you write the index value for the last value that you want to retrieve.<br>When you execute the code, the indexer finds the first and last record and returns every record in between.

In [21]:
series_obj['Row 3':'Row 7']

Row 3    2
Row 4    3
Row 5    4
Row 6    5
Row 7    6
dtype: int32

#### Comparing with scalar values
A scalar value is basically a single numerical value.<br>You can use comparison operators, like greater than (>) or less than (<) to return True/False values for all records to indicate how each element compares to a scalar value.<br><br>
We are going to return to our df object and write an expression to see if each value is less than 0.2...

In [22]:
df < .2

       Column 1  Column 2  Column 3  Column 4  Column 5  Column 6
Row 1     False     False     False      True     False      True
Row 2     False     False     False     False     False      True
Row 3     False     False      True     False     False     False
Row 4     False     False     False     False     False     False
Row 5     False     False      True     False     False     False
Row 6     False     False     False     False     False     False

We see that Row1, Column 6 has returned a True ie it is saying that this value is less than 0.2. Checking the original df, we can see that it is indeed less than 0.2

#### Filtering with scalars
We can also use scalars and comaprison operators to create a filter that limits what values are returned by the Python indexer. We'll write a command to return all rows that have values greater than 6...

In [25]:
series_obj[series_obj > 6] # Tells Python to find all rows that have a value gretaer than 6

Row 8    7
dtype: int32

#### Setting values with scalars

In [27]:
series_obj['Row 1', 'Row 5', 'Row 8'] = 8 # We are telling Pandas to set these rows equal to 8
series_obj

Row 1    8
Row 2    1
Row 3    2
Row 4    3
Row 5    8
Row 6    5
Row 7    6
Row 8    8
dtype: int32