<img src = "tewnumpypandas.png" height="550px" width="550px"/>

## 2. How to Treat Missing Values in Data in Python
How to figure out missing data. how to fill in missing data in python. how to count missing data and filter missing data.<br>
Finding missing values is a fundamental step in preparing data for analysis. Once you have found the missing data you can make the decision on whether to fill them in or drop them.<br>
Once identified, it is possible to then write a script to identify the missing values.<br><br>
**Filling in missing values**<br>
We could look at the information that was provided and take an average of the other responses and use that to fill in the missing data. It is much better to use an approximation, for the missing data, rather than just dropping the lines with missing values altogether.<br>
**We are going to look at...**<br>
 - How to discover what is missing from your dataset
 - How to fill in those missing values
 - How to count up the missing values
 - How to filter out missing values

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#### Finding missing values (from your dataset)
Numpy has a special value called name. It is meant to be used to represent missing values in a dataset. So first, we will create a Series object that contains missing values...

In [2]:
#This is a good trick for creating missing values
missing = np.nan # This is going to represent the missing values throughout our tut

Now we will use the Series constructor to create a Series object and pass in some missing values. To create the Series, we pass it a list that contains the missing values...

In [3]:
series = Series(['Row 1', 'Row 2', missing, 'Row 4', 'Row 6', missing, 'Row 8'])
series # This is our series object with the missing values

0    Row 1
1    Row 2
2      NaN
3    Row 4
4    Row 6
5      NaN
6    Row 8
dtype: object

**Using Pandas is show us the missing values**<br>
**.isnull()**<br>
.isnull() searches the dataset and returns True/False values to describe what values are missing from a dataset...

In [4]:
series.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
dtype: bool

.isnull() goes through the dataset and, for each element, asks, is the value missing. It returns a new series of boolean values, False where a value exists and True where a value is missing.<br>
As far as our dataset goes, we expect that the first two values would come back as False because we know that they contain data. However, the third record in the Series is missing and so .isnull() returns a True...and so on

## How to fill in those missing values
Once you have found your missing values, you can either fill them in yourself or drop them. We are going to make a DF to to investigate missing values but first our Numpy seed function...

In [5]:
# This is used so that when we follow along at home, we get the same random numbers and results as he does
np.random.seed(25)

We are now going to use the df constructor to create our df & then pass in Numpy's random number generator. We want to create a df using 36 random numbers in a 6 x 6 matrix...

In [10]:
df = DataFrame(np.random.randn(36).reshape(6,6))
df

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752 -0.565538
2  0.103395  2.018408  1.094248  1.662434 -0.627453  1.621200
3  1.178133 -0.374879 -0.544329  0.287761 -0.205820  1.189988
4  0.728927 -0.222040 -1.622706  0.312541 -1.160421  0.313560
5  0.471998  0.577862  0.505407 -0.626488 -0.346369 -2.065942

**Creating missing values in our df**<br>
This is great but it doean't have any missing values...here's how we create some

In [11]:
df.loc[3:5, 0] = missing # Rows 3-5 at column zero are going to be set to missing
df.loc[1:4, 5] = missing # Rows 1-4 at column five are going to be set to missing
df

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752       NaN
2  0.103395  2.018408  1.094248  1.662434 -0.627453       NaN
3       NaN -0.374879 -0.544329  0.287761 -0.205820       NaN
4       NaN -0.222040 -1.622706  0.312541 -1.160421       NaN
5       NaN  0.577862  0.505407 -0.626488 -0.346369 -2.065942

**Filling those missing values**<br>
Now that we have created some missing values in our df, we will look at pandas methods to help us fill them...<br>
**.fillena()** - This will go through thge df looking for missing values and fill them with the value that we pass it as an argument...

In [12]:
df_filled = df.fillna(0) # Our missing values should now ALL be zeros
df_filled

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752  0.000000
2  0.103395  2.018408  1.094248  1.662434 -0.627453  0.000000
3  0.000000 -0.374879 -0.544329  0.287761 -0.205820  0.000000
4  0.000000 -0.222040 -1.622706  0.312541 -1.160421  0.000000
5  0.000000  0.577862  0.505407 -0.626488 -0.346369 -2.065942

That worked very nicely.<br>
You can also pass a dictionary to .fillna(). If we do this, the .fillna() can fill the missing values from each column with their own unique values on a column-by-column basis. Thjis sounds a lot more subtle than the way that we used it above but a lot more typing...

In [14]:
df_filled02 = df.fillna({0:0.1, 5:1.25})
df_filled02

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752  1.250000
2  0.103395  2.018408  1.094248  1.662434 -0.627453  1.250000
3  0.100000 -0.374879 -0.544329  0.287761 -0.205820  1.250000
4  0.100000 -0.222040 -1.622706  0.312541 -1.160421  1.250000
5  0.100000  0.577862  0.505407 -0.626488 -0.346369 -2.065942

We have told .fillna() to fill any missing values in column zero with the value 0.1 and any missing values in column 5 with 1.25. TBH, I thought it was gonna be more subtle than that.<br><br>
**.ffill() - The Fill Forward Method**<br>
This fills forward missing values ie if there is a missing value in a column, it is filled with the last known value from the previous entry in that column...

In [15]:
df_ffill = df.fillna(method = 'ffill')
df_ffill

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752 -1.885341
2  0.103395  2.018408  1.094248  1.662434 -0.627453 -1.885341
3  0.103395 -0.374879 -0.544329  0.287761 -0.205820 -1.885341
4  0.103395 -0.222040 -1.622706  0.312541 -1.160421 -1.885341
5  0.103395  0.577862  0.505407 -0.626488 -0.346369 -2.065942

Again, this worked very well but, of course, it is dependent on a previous value being available to ffill with

## Counting missing values

In [16]:
df # See the missing values in our df

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752       NaN
2  0.103395  2.018408  1.094248  1.662434 -0.627453       NaN
3       NaN -0.374879 -0.544329  0.287761 -0.205820       NaN
4       NaN -0.222040 -1.622706  0.312541 -1.160421       NaN
5       NaN  0.577862  0.505407 -0.626488 -0.346369 -2.065942

To see how many missing values we have in our df we can pass the .isnull() method on our df and then the .sum() method to give us an actual number. Once again, .isnull() will go through the whole df looking for missing values but this time .sum() will count them up and tell us exactly how many there are...

In [17]:
df.isnull().sum() # This returns a count of the missing values for each column

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

We can see the missing values visually but with most df's that won't be possible. However, it does show us the expected values that we can see for ourselves, so we can trust this method for larger df's.

## Filtering out missing values
To identify and drop all columns, from the df, that contain missing values we call the .dropna() method on the df...

In [18]:
dropped = df.dropna(axis = 1)
dropped

          1         2         3         4
0 -0.633439  0.246622 -1.939546  0.114060
1 -0.705481  0.364628 -0.502952 -0.225752
2  2.018408  1.094248  1.662434 -0.627453
3 -0.374879 -0.544329  0.287761 -0.205820
4 -0.222040 -1.622706  0.312541 -1.160421
5  0.577862  0.505407 -0.626488 -0.346369

As we had the *<font color = blue>axis = 1</font>* argument, we have dropped column zero and column five as they contained missing data. This is quite excessive as it has the potential to lose most of the rows/columns out of your df and leave you with next to nothing as can be seen below...

In [19]:
dropped_rows = df.dropna(axis = 0)
dropped_rows

          0         1         2         3        4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.11406 -1.885341

Seems like we only had one row that had a full set of data...not good

**How to drop rows/columns that are missing all its values only**

In [20]:
drop_all = df.dropna(how = 'all')
drop_all

          0         1         2         3         4         5
0  0.217002 -0.633439  0.246622 -1.939546  0.114060 -1.885341
1  0.243080 -0.705481  0.364628 -0.502952 -0.225752       NaN
2  0.103395  2.018408  1.094248  1.662434 -0.627453       NaN
3       NaN -0.374879 -0.544329  0.287761 -0.205820       NaN
4       NaN -0.222040 -1.622706  0.312541 -1.160421       NaN
5       NaN  0.577862  0.505407 -0.626488 -0.346369 -2.065942

Now we see that we have not lost any rows. This will only drop a row if ALL the values are missing. If only one value is present then the row will not be dropped.<br>
Once again *<font color = blue> axis = 1 </font>* to drop columns with ALL missing values.